<a href="https://colab.research.google.com/github/MrJenish/woc5.0-ml-weather-prediction-case-study-Jenish-Mangukiya/blob/main/Intro_to_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import pandas library

In [1]:
import pandas as pd

read csv file

In [2]:
df = pd.read_csv("/content/drive/MyDrive/Colab_Notebooks/Youtube_Influencer_Analysis_Updated.csv",encoding='cp1252')

Missing value of each column

In [3]:
df.isna().sum()

Video Link                                 0
Video Views                                0
Video Title                                0
Channel URL                                0
Creator Name                              11
Creator Gender                           314
Total Channel Subcribers                   0
Total Chanel Views                         0
Duration of Video                          0
Duration in Seconds                        0
Date of Video Upload                       0
No of Likes                                1
Language of the Video                     21
Subtitle                                   1
Video Description                          0
Hashtags                                   0
No of Comments                             0
Date of the Last Comment                  24
Maximum Quality of the Video               0
No of Videos the Channel                   0
No of Playlist                             9
Premiered or Not                           0
Community Engagement (Posts per week)      0
Intern Who Collected the Data              0
dtype: int64

Replace each NULL value to the appropriate numerical value or drop that row

In [4]:
df['No of Likes'].fillna(df['No of Likes'].mean(),inplace=True)

In [5]:
df.dropna(inplace=True)

Here we can see that none of the column containg NULL values

In [6]:
df.isna().sum()

Video Link                               0
Video Views                              0
Video Title                              0
Channel URL                              0
Creator Name                             0
Creator Gender                           0
Total Channel Subcribers                 0
Total Chanel Views                       0
Duration of Video                        0
Duration in Seconds                      0
Date of Video Upload                     0
No of Likes                              0
Language of the Video                    0
Subtitle                                 0
Video Description                        0
Hashtags                                 0
No of Comments                           0
Date of the Last Comment                 0
Maximum Quality of the Video             0
No of Videos the Channel                 0
No of Playlist                           0
Premiered or Not                         0
Community Engagement (Posts per week)    0
Intern Who Collected the Data            0
dtype: int64

Drop the columns which are irrelevant features

In [7]:
df.drop(['Duration in Seconds','Hashtags','Date of the Last Comment','Maximum Quality of the Video'],axis=1,inplace=True)

Convert some data from string to integer

In [8]:
# Here we covert Famale to 0 and Male to 1
df['Creator Gender'].replace(['Female','Male'],[0,1],inplace=True)

In [9]:
# Here we convert No and Yes to corresponding 0 and 1 in Subtitle column
df['Subtitle'].replace(['No','Yes'],[0,1],inplace=True)

In [10]:
# Here we convert No and Yes to corresponding 0 and 1 in Video Description column
df['Video Description'].replace(['No','Yes'],[0,1],inplace=True)

In [11]:
# Here we convert No and Yes to corresponding 0 and 1 in Premired or Not column
df['Premiered or Not'].replace(['No','Yes'],[0,1],inplace=True)